<div class="row">
  <div class="col-md-2 d-none d-lg-block">
      <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
          <div class="media d-flex align-items-center">
            <div class="media-body">
            </div>
          </div>
        </div>
      
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Employee Registration</p>
      
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <span [routerLink]="['/create-employee']">
              <a class="nav-link text-dark"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Employee Registration</a>
            </span>
          </li>
          <li class="nav-item">
            <span class="edit" [routerLink]="['/employees-list']">
              <a class="nav-link text-dark"><i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
              Employee List </a>
            </span>
          </li>
          <li class="nav-item">
            <span [routerLink]="['/social-media-card']">
              <a class="nav-link text-dark"><i class="fa fa-globe mr-3 text-primary fa-fw"></i>
                Add Social Media Links</a>
            </span>
          </li>
        </ul>
      
        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Asset Management</p>
      
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <span [routerLink]="['/create-asset']">
              <a class="nav-link text-dark"><i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                Asset Registration</a>
            </span>
          </li>
          <li class="nav-item">
            <span [routerLink]="['/asset-list']">
              <a class="nav-link text-dark"><i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                View Assets</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  <div class="col-md-10">
    <div class="row container searcher">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input class="form-control border-0 bg-light" type="text" name="search" [(ngModel)]="id" autocomplete="on" placeholder="Search with id/name"/>
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!--<input class="form-control" type="text" name="search" [(ngModel)]="id" autocomplete="on" placeholder="Search"/>-->
      
    <div class="row">
      <div class="col-md-2" id="login-container" *ngFor="let emp of Employee">
        <p><b>ID: </b>{{emp.empid}}</p>  
        <p><b>Name: </b>{{emp.name}}</p>
        <span class="edit" [routerLink]="['/create-link/', emp.empid]">
          <button mat-button color="primary">Add links</button>
        </span>
        <span class="edit" [routerLink]="['/view-employee/', emp.empid]">
          <button mat-button color="primary">View</button>
        </span>
        <footer></footer>
      </div>
    </div>  
  </div>

</div>

