@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

 #login-container {
	height: 5%;
	width: 10%;
	padding: 20px;
	border-radius: 5px;
	background: #e9f1fe;
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	/*padding: 10px;
    border: 1px solid grey;
    box-shadow:  -1px 1px grey,
         -2px 2px grey,
         -3px 3px grey,
         -4px 4px grey,
         -5px 5px grey;*/
	margin-top: 20px;
	margin: 15px;
}
.searcher{
  margin-top: 20px;
}
 #login-container h2 {
	font-family: arial, sans-serif;
	text-align: left;
	margin-bottom: 20px;
	text-transform: uppercase;
}
 #login-container .description {
	margin-bottom: 20px;
}
 #login-container .social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 40px);
}

#login-container footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000000;
	color: white;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 8px;
	padding: 0 20px;
	margin-left: -20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
 @-webkit-keyframes gradientBG {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 100% 50%;
	}
}
 @keyframes gradientBG {
	 0% {
		 background-position: 0% 50%;
	}
	 100% {
		 background-position: 100% 50%;
	}
}
 

.navb {
    background-color: #4285F4;
    color: whitesmoke;
    text-transform: uppercase;
    /*box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);*/
    /*border-bottom: 4px solid #f4b142;*/
}
.head{
  font-size: 25px;
  font-weight: bold;
}
.btn-view, .btn-add{
  font-weight: 500;
  border: 3px solid #ffffff;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  padding-left: 15px;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}