.h1{
  color: black;  font-family: 'Poppins', sans-serif!important; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}
.preloader-container{
  align-content: center;
}
.content{
margin-top: 25px;
}
.card {
background-color: white;
box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
border-radius: 5px;
margin: 10px;
padding: 5px;
}
.data{
color: black;
}

.preloader-container{
  margin-left: 100px;
  margin-top: 100px;
}
/*new table*/

.limiter {
  width: 100%;
  margin: 0 auto;
  margin: 15px;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin-left: 55px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.index{
  padding-right: 8px;
}
table * {
  position: relative;
}/*
table td, table th {
  padding-left: 8px;
}*/
table thead tr {
  height: 60px;
  /*background: #0b3c5d;*/
  /*background: #cd5360;*/
  background:  #4285F4;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.options-1{
  padding-top: 20px;
  padding-left: 10px;
}
tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}/*
.edit{
  box-shadow: -2px 2px 52px 0px rgba(80, 77, 77, 0.99);
}*/
.options{
  margin: 5px;
  /*background: #c8a180;*/
  background: #7a7a7a;
  float: left;
  box-shadow: none !important;
}
.options-1{
  align-items: flex-end;
}
.redo-add{
  background: #4285F4;
  margin: 5px;
  box-shadow: none !important;
}